@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
	background-color: #fafafa;
}

/*login*/ 
.sign-div {
	width: 935px;
	height: 670px;
	margin: 30px auto;
}

.left-sign {
	background-image: url(https://www.instagram.com/static/images/homepage/home-phones@2x.png/9364675fb26a.png);
	background-size: 454px 618px;
	height: 618px;
	text-align: center;
}

.left-sign-title {
	color: #fff;
	margin-top: 280px; 
	margin-left: 70px;
}

.sign-form-div {
	padding: 42px;
	background-color: #fff;
	margin-top: 20px;
	border: 1px solid #ccc;
}

.sign-form-title {
	text-align: center; 
	font-family: 'Pacifico', cursive;
}

.text-center {
	text-align: center;
}

.display-none {
	display: none;
}

/*자주쓰는 css는 따로 클래스를 만든다.*/
.cursor-pointer {
	cursor: pointer;
	text-decoration: none !important;
}

@media (max-width: 1024px) {
	.left-sign {
		display: none;
	}

	.right-sign {
		float: none;
		width: 400px;
		margin: 0 auto;
	}
	.sign-div {
		width: 100%;
	}
}

.top-navbar {
	border : 0;
	background-color: #fff;
	margin-bottom: 0px;

}

.top { 
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

.top-navbar.navbar-default .navbar-nav>li>a {
	color: #333;
}
/* 상단 높이 조절 시작 */
.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

.top-navbar .navbar-form {
	padding-top: 15px;
	padding-bottom: 15px;
}
/* 상단 높이 조절 끝 */
