@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
	background-color: #fafafa;
}

/*login*/ 
.sign-div {
	width: 935px;
	height: 670px;
	margin: 30px auto;
}

.left-sign {
	background-image: url(https://www.instagram.com/static/images/homepage/home-phones@2x.png/9364675fb26a.png);
	background-size: 454px 618px;
	height: 618px;
	text-align: center;
}

.left-sign-title {
	color: #fff;
	margin-top: 280px; 
	margin-left: 70px;
}

.sign-form-div {
	padding: 42px;
	background-color: #fff;
	margin-top: 20px;
	border: 1px solid #ccc;
}

.sign-form-title {
	text-align: center; 
	font-family: 'Pacifico', cursive;
}

.text-center {
	text-align: center;
}

/*자주쓰는 css는 따로 클래스를 만든다.*/
.cursor-pointer {
	cursor: pointer;
	text-decoration: none !important;
}